<font size=6 bold=true>Dec 21 -- Part C
<br><br>Data Structure</font>

<font size=5 color='Olive'>For the first 5 lessons, DS will be combined with Python due to insufficiencies of Concepts</font>

In [1]:
import re
import sys
import os
from os import path
from datetime import datetime

# Data types and functions. We were there.

Numbers<br>
String<br>
List<br>
Tuple<br>
Set<br>
Dictionary

<br><font size=5>Functions Revisit</font>

In [24]:
#1: 
import os
from datetime import datetime

def generate_defaultfilename():
    folder=os.getcwd()
    filename=datetime.now().strftime("%b")+'_'+datetime.now().strftime("%m_%d_%Y_%H_%M_%S")+'.csv' 
    return path.join(folder, filename) 

#generate_defaultfilename()

In [26]:
# 2
def read_oneurl(url):  
    response=requests.get(url)  
    if response.status_code==200: 
        return get_pagetext(response)
    else: 
        return [[None, None, None, None]]

In [92]:
#3:  
import pandas as pd
df_coll=pd.read_csv('C:\\Users\\wilso\\Phase 3 Week 3\\WAColleges.csv')
 
def get_universitylist(df_coll, namelike='', state='WA'):
    return df_coll[(df_coll['InstitutionName'].str.contains(namelike)) & (df_coll['State']==state)]

get_universitylist(df_coll,'Washington')

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
39,Central Washington University,148496,0,377100,Institution,400 East University Way,Ellensburg,WA,False
63,Eastern Washington University,148593,0,377500,Institution,526 5th Street,Cheney,WA,False
115,Kaiser Permanente Washington Residency in Prim...,216782,0,NaN,Site,5821 S. Sprague Court,Tacoma,WA,True
120,Lake Washington Institute of Technology,148803,0,537300,Institution,11605 132nd Avenue NE,Kirkland,WA,True
130,Montessori Center for Teacher Education - Wash...,216436,0,NaN,Institution,10723 NE 38th Place,Bellevue,WA,False
136,Montessori Schools of Washington,165699,0,NaN,Institution,1804 Puget Dr.,Everett,WA,False
138,Montessori Teacher Preparation of Washington,178970,0,NaN,Institution,318 3rd Avenue South,Kent,WA,False
220,University of Washington,149143,0,379800,Institution,P.O. Box 351230,Seattle,WA,False
228,Washington State University,149134,0,380000,Institution,French Administration Building,Pullman,WA,False
229,Washington State University-Spokane,238829,0,NaN,Site,310 N. Riverpoint Blvd_ P.O Box 1495,Spokane,WA,False
233,Western Washington University,149170,0,380200,Institution,516 High St,Bellingham,WA,False

In [59]:
df_coll

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
0,Academy of Cosmetology_ L.L.C.,214670,0,4172900,Institution,1368 Jadwin Avenue,Richland,WA,True
1,Academy of Interactive Entertainment,229540,0,4223600,Institution,305 Harrison Street,Seattle,WA,False
2,Age of Montessori,241058,0,NaN,Institution,301 Evergreen Drive,Bozeman,MT,True
3,Airstreams Renewables_ Inc.,227368,0,NaN,Institution,410 West J Street_ Suite B,Tehachapi,CA,True
4,Alpine College,188562,0,4043400,Institution,10020 E. Knox Ave. Suite 500,Spokane Valley,WA,True
...,...,...,...,...,...,...,...,...,...
236,Whitworth University,149204,0,380400,Institution,300 W Hawthorne Rd,Spokane,WA,True
237,Wu Hsing Tao School,185837,0,NaN,Institution,4000 ME 41st Street_ Bldg. D_ Ste. 1,Seattle,WA,False
238,Yakima Beauty School; Beauty Works,191296,0,3953300,Institution,401 North First Street,Yakima,WA,True
239,Yakima Valley Community College,149213,0,380500,Institution,Sixteenth and Nob Hill Boulevard,Yakima,WA,False
240,Yakima Valley Farm Workers Clinic - Northwest ...,209445,0,NaN,Site,518 W. First Avenue,Toppenish,WA,False

In [64]:
df_coll[-9:]

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
232,Western State Hospital,196972,0,NaN,Site,9601 Steilacoom Boulevard_ SW,Tacoma,WA,False
233,Western Washington University,149170,0,380200,Institution,516 High St,Bellingham,WA,False
234,Whatcom Community College,149189,0,1036400,Institution,237 W Kellogg Rd,Bellingham,WA,False
235,Whitman College,149198,0,380300,Institution,345 Boyer Ave,Walla Walla,WA,False
236,Whitworth University,149204,0,380400,Institution,300 W Hawthorne Rd,Spokane,WA,True
237,Wu Hsing Tao School,185837,0,NaN,Institution,4000 ME 41st Street_ Bldg. D_ Ste. 1,Seattle,WA,False
238,Yakima Beauty School; Beauty Works,191296,0,3953300,Institution,401 North First Street,Yakima,WA,True
239,Yakima Valley Community College,149213,0,380500,Institution,Sixteenth and Nob Hill Boulevard,Yakima,WA,False
240,Yakima Valley Farm Workers Clinic - Northwest ...,209445,0,NaN,Site,518 W. First Avenue,Toppenish,WA,False

In [84]:
df_coll.explode('OPEID')

,InstitutionName,UnitID,ParentID,OPEID,InstitutionType,Address,City,State,HasHistory
0,Academy of Cosmetology_ L.L.C.,214670,0,4172900,Institution,1368 Jadwin Avenue,Richland,WA,True
1,Academy of Interactive Entertainment,229540,0,4223600,Institution,305 Harrison Street,Seattle,WA,False
2,Age of Montessori,241058,0,NaN,Institution,301 Evergreen Drive,Bozeman,MT,True
3,Airstreams Renewables_ Inc.,227368,0,NaN,Institution,410 West J Street_ Suite B,Tehachapi,CA,True
4,Alpine College,188562,0,4043400,Institution,10020 E. Knox Ave. Suite 500,Spokane Valley,WA,True
...,...,...,...,...,...,...,...,...,...
236,Whitworth University,149204,0,380400,Institution,300 W Hawthorne Rd,Spokane,WA,True
237,Wu Hsing Tao School,185837,0,NaN,Institution,4000 ME 41st Street_ Bldg. D_ Ste. 1,Seattle,WA,False
238,Yakima Beauty School; Beauty Works,191296,0,3953300,Institution,401 North First Street,Yakima,WA,True
239,Yakima Valley Community College,149213,0,380500,Institution,Sixteenth and Nob Hill Boulevard,Yakima,WA,False
240,Yakima Valley Farm Workers Clinic - Northwest ...,209445,0,NaN,Site,518 W. First Avenue,Toppenish,WA,False

In [3]:
#4
def avg_gpa(*reportcards):
    n=len(reportcards)
    total=0.0
    for sub in reportcards:
        total+=sub
    return total/n if n>0 else 1

avg_gpa(4,4,4,3,2,3,5.0)

3.5714285714285716

In [4]:
#5
def school_pga(**data): 
    for key, value in data.items():  
        print("school: {} avg gpa: {}\n".format(key,value))
school_pga(Angus=4.0, Zilin=4.0,Allen=4.0,Wilson=4.0,noname=3.9)

school: Angus avg gpa: 8

school: Zilin avg gpa: 9

school: Allen avg gpa: 6

school: Wilson avg gpa: 44

# Object Oriented Programming: Define Classes

In [78]:
class Describe_College(object):    
    def __init__(self,col_name, avg_gpa, avg_act, avg_sat, addr): 
        self.col_name=col_name
        self.avg_gpa=avg_gpa
        self.avg_act=avg_act
        self.avg_sat=avg_sat
        self.addr=addr 
    def basic_info(self):
        print("College: {} avg gpa requirement is {}".format(self.col_name,self.avg_gpa))

    def get_avggpa(self):
        return self.avg_gpa

c=Describe_College('Stanford', 3.0, 33.0, 1500, 'CA')
c.basic_info()
c.get_avggpa()
d=Describe_College('MIT',4.16,34,1500,'MA')
d.basic_info()
d.get_avggpa()

College: Stanford avg gpa requirement is 3.0
College: MIT avg gpa requirement is 4.16

4.16

UnboundLocalError: local variable 'url' referenced before assignment

{'http://mit.edu',
 'http://mit.edu/',
 'http://mit.edu/ http://global.mit.edu/',
 'http://mit.edu/#main',
 'http://mit.edu/#mission',
 'http://mit.edu/about',
 'http://mit.edu/about/#mission',
 'http://mit.edu/accessibility',
 'http://mit.edu/accessibility/',
 'http://mit.edu/admissions',
 'http://mit.edu/admissions-aid',
 'http://mit.edu/alumni',
 'http://mit.edu/building-a-better-world',
 'http://mit.edu/building-a-better-world/',
 'http://mit.edu/campus-life',
 'http://mit.edu/contact',
 'http://mit.edu/education',
 'http://mit.edu/education#teaching',
 'http://mit.edu/education/#schools-and-departments',
 'http://mit.edu/education/schools-and-departments',
 'http://mit.edu/education/schools-and-departments/',
 'http://mit.edu/feedback',
 'http://mit.edu/innovation',
 'http://mit.edu/mailto:aacomments@mit.edu/',
 'http://mit.edu/mailto:admissions@mit.edu/',
 'http://mit.edu/mailto:campus-map@mit.edu/',
 'http://mit.edu/mailto:dataprotection@mit.edu/',
 'http://mit.edu/mailto:dataprotection@mit.edu/.',
 'http://mit.edu/privacy',
 'http://mit.edu/research',
 'http://mit.edu/research/centers-labs-programs/',
 'http://mit.edu/research/research-alliances/',
 'http://mit.edu/search',
 'http://mit.edu/tel:617-253-1000',
 'http://mit.edu/visitmit'}

In [15]:
class CollegeCrawl(object):
    gap_Insecond=5
    max_Pages=150
    allUrls=[]
    visitedUrls=[]
    rejectedUrls=[]
    n_allUrls=0
    n_sitedUrls=0
    n_rejectedUrls=0
    
    """
        collegename: name
        rooturl: www.university.edu
        prioritykeywords: ['apply','adimission'...] etc. if None then everth page 
        respectrobottxt: True
    """
    def __init__(self,_collegename, _rooturl, _prioritykeywords, _respectrobottxt=True):
        self.college=_collegename
        self.rootUrl=_rooturl
        self.priorityKeywords=_prioritykeywords
        self.respectRobottext=_respectrobottxt

    """
        get all urls starting from rootUrl
    """
    def GetAllUrls(self):
        pass
    
    """
        read one page
    """
    def Read_OneUrl(self, oneUrl):
        pass
    
        
    """
        Save One Page
    """
    def Save_OnePage(self, format='csv'):
        pass
    
    """
        Save summaries
    """
    def Save_Summaries(self):
        pass

NameError: name 'get_pagetext' is not defined

In [22]:
#isinstance(c,Describe_College)
#id()

True

In [1]:
tup = ('ucla','mit','stanford')
tup

('ucla', 'mit', 'stanford')

In [5]:
type(tup)

tuple

In [15]:
name='a'
id(name)

2649901689968

In [18]:
name='wgerha'
id(name)

2649945267952

In [21]:
li=[1,2,3,4]

In [22]:
id(li)

2649944667848

In [23]:
li.append(4)

In [24]:
id(li)

2649944667848

In [26]:
def avg_gpa(**reportcards):
    n=len(reportcards)
    total=0.0
    for key,value in reportcards.items():
        total+=value
    return total/n if n>0 else 1
print('%.4f' % avg_gpa(Angus=4.0, Zilin=4.0, Allen=4.0, Wilson=4.0,noname=3.9))

3.9800

In [48]:
print('{0:.4f}'.format(avg_gpa(Angus=4.0, Zilin=4.0, Allen=4.0, Wilson=4.0,noname=3.9)))

3.9800

In [68]:
df_coll.explode(1)

KeyError: 1

In [58]:
def calories(**names):
    total_calories=0
    for name, calories in names.items():
        total_calories += calories
    return {len(names), total_calories/len(names)}

In [64]:
avg,number=calories(a=1,b=2,c=99)

In [65]:
number

3

In [66]:
avg

34.0

In [67]:
num=[1,2,3,4,5,6,7,8,9,10]

In [68]:
array=[1,2,3,4,5,6]

In [71]:
x=sum(num),max(num),min(num)

In [74]:
np.var(x)

558.0

In [72]:
import numpy as np